- what are csv,tsv files?
- what are packages available to handle csv data?
- what is json format?
- How to handle json data?
- what are packages avilable for image data?
- what are the packages availble for audio data?
- with all the packages above check how to read the data?
- How to dispaly the same data

- Replace comma in the file sample.csv with tab and store it in a file as tsv format.
- i/p : A csv file
- o/p: Is atsv file with same data
- step1: Read the data using open
- step2: Replace comma with tab
- step3: Write the data into file with extension tsv

Packages to handle csv data
- pandas
- csv
- numpy

In [3]:
# import package name
import pandas
path ="sample.csv"
data = pandas.read_csv(path)
type(data)

pandas.core.frame.DataFrame

In [4]:
data

              name  salary  year
0      Raj Acharya   45000  2015
1      SaiTeja Ram   78000  2012
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [5]:
data.head(2)

          name  salary  year
0  Raj Acharya   45000  2015
1  SaiTeja Ram   78000  2012

In [6]:
import csv

In [7]:
help(csv.reader)

Help on built-in function reader in module _csv:

reader(...)
    csv_reader = reader(iterable [, dialect='excel']
                            [optional keyword args])
        for row in csv_reader:
            process(row)

    The "iterable" argument can be any object that returns a line
    of input for each iteration, such as a file object or a list.  The
    optional "dialect" parameter is discussed below.  The function
    also accepts optional keyword arguments which override settings
    provided by the dialect.

    The returned object is an iterator.  Each iteration returns a row
    of the CSV file (which can span multiple input lines).

In [12]:
check = csv.reader(["i am,renu ","Machine Learning Learner"])
for row in check:
    print(row)

['i am', 'renu ']
['Machine Learning Learner']

In [58]:
f = open(path)
#type(f)
lines = csv.reader(f)
next(lines)
for row in lines:
    print(row[2])
#list(lines)

2015
2012
2018
2019

In [44]:
data2 = []
for row in lines:
    print("check")
    print(row)
    print(type(row))
    data2.append(row)
data2

[]

In [56]:
with open(path) as f:
    data = csv.DictReader(f)
    print(type(data))
    for row in data:
        row =list(row.items())
        print(row[1][1])

<class 'csv.DictReader'>
45000
78000
32000
15000

In [45]:
help(csv.DictReader)

Help on class DictReader in module csv:

class DictReader(builtins.object)
 |  DictReader(f, fieldnames=None, restkey=None, restval=None, dialect='excel', *args, **kwds)
 |
 |  Methods defined here:
 |
 |  __init__(self, f, fieldnames=None, restkey=None, restval=None, dialect='excel', *args, **kwds)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |
 |  __next__(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  fieldnames