#### Importing CSV data files as pandas dataframes
For the upcoming exercises, we will use a dataset of a retail store having details about the orders placed, customers, product details, sales, profits etc.

##### reading a CSV file as a dataframe

In [ ]:
# read global_sales_data\market_fact.csv into a varaible market_df

#### Reading and Summarising Dataframes

After you import a dataframe, you'd want to quickly understand its structure, shape, meanings of rows and columns etc. Further, you may want to look at summary statistics - such as mean, percentiles etc.

In [ ]:
# Looking at the top and bottom entries of dataframes

Here, each row represents an order placed at a retail store. Notice the index associated with each row - starts at 0 and ends at 8398, implying that there were 8399 orders placed.

In [ ]:
# Looking at the datatypes of each column using info

- Note that each column is basically a pandas Series of length 8399
- The ID columns are 'objects', i.e. they are being read as characters
- The rest are numeric (floats or int)

In [ ]:
#Get the summary of all the numeric columns in the dataset

In [ ]:
# Get the Column names

In [ ]:
# The number of rows and columns

In [ ]:
# Extract the values of a dataframe as a numpy array

Let's change the index to Ord_id (unique id of each order), so that you can select rows using the order ids directly

In [ ]:
# Setting index to Ord_id and store the result in new dataframe market_df_ord
# Don't modify original dataset

In [ ]:
#  Sorting market_df_ord by index
# axis = 0 indicates that you want to sort rows (use axis=1 for columns)

In [ ]:
# Sorting market_df_ord by values
# Sorting in increasing order of Sales

In [ ]:
# Sorting in decreasing order of Shipping_Cost

In [ ]:
# Selecting the rows from indices 2 to 6

In [ ]:
# Selecting alternate rows starting from index = 5

In [ ]:
# Select Sales column as series

In [ ]:
# Select Sales column as DataFrame

In [ ]:
# Select Cust_id, Sales and Profit

In [ ]:
# Selecting a single element
# Select the element in  the third row and fifth column (Sales)

In [ ]:
# Selecting a single element
# Select row label = 2 and column label = 'Sales

In [ ]:
# Selecting rows using a range of labels from 4 to 8
# selct the row uisng loc and iloc and observe  difference between iloc and loc

In [ ]:
# Select Ord_id = Ord_5406 and 'Sales', 'Profit', 'Cust_id' columns

In [ ]:
# Select all rows where Sales > 3000
# First, we get a boolean array where True corresponds to rows having Sales > 3000

In [ ]:
# Then, we pass this boolean array inside df.loc

In [ ]:
#Select  all orders having 2000 < Sales < 3000 and Profit > 100

In [ ]:
#Select all orders having 2000 < Sales  OR Profit > 100

In [ ]:
# Select all orders having 2000 < Sales < 3000 and Profit > 100
# Also, this time, you only need the Cust_id, Sales and Profit columns

In [ ]:
# Get the orders where sales is equal to 4233.15

In [ ]:
# For instance, say a colleague gives you a list of customer_ids from a certain region

customers_in_hyd = ['Cust_1798', 'Cust_1519', 'Cust_637', 'Cust_851']

# get all the orders from these customers

In [ ]:
# Read the data from "global_sales_data/cust_dimen.csv" into customer_df

In [ ]:
# Read the data from "global_sales_data/prod_dimen.csv" into product_df

In [ ]:
# Read the data from "global_sales_data/shipping_dimen.csv" into shipping_df

In [ ]:
# Read the data from "global_sales_data/orders_dimen.csv.csv" into orders_df

In [ ]:
# Customer dimension table: Each row contains metadata about customers
# Display the first five row

In [ ]:
# Product dimension table
# Display the first five row

In [ ]:
# Shipping metadata
# Display the first five row

In [ ]:
# Orders dimension table
# Display the first five row

In [ ]:
# Merging the dataframes
# Note that Cust_id is the common column/key, in market_df and customer_df
# Make sure the  customer ids present in both dfs are included in the result df1

In [ ]:
# Now, you can subset the orders made by customers from 'Corporate' segment in df1

In [ ]:
#  merge the df1 and product_df  store the result in df2

In [ ]:
# Select all orders from product category = office supplies and from the corporate segment

Similary, you can merge the other dimension tables - shipping_df and orders_df to create a master_df and perform indexing using any column in the master dataframe.

In [ ]:
# Merging shipping_df store result in df3

In [ ]:
# Merging the orders table to create a master_df

In [ ]:
# Which customer segments are the least profitable? 
# Use grouping with master_df on Customer_Segment

In [ ]:
# Which product categories are the least profitable?

In [ ]:
# Which product categories and sub-categories are the least profitable?

In [ ]:
# Customers in which geographic region are the least profitable?

In [ ]:
# Calculate the Sales across each region as a percentage of total Sales
# hint -the resulting object is a Series, thus you can perform vectorised computations on them
# You can divide the entire series by a number (total sales) easily

In [ ]:
# Create a new column is_profitable
# The value in the coulmn is_profitable is True when the profit >0  else False
# Do the work using apply

In [ ]:
# Comparing percentage of profitable orders across product categories using groupby

In [ ]:
# you want to see Profit as one decimal place
# apply the round() function 
# the first value is -30.5
# the first value before is -30.51
# Modify the profit column itself

In [ ]:
# Creating a column Profit / Order_Quantity
# The new columnname is 'profit_per_qty'

In [ ]:
# Compare average Sales across customer segments using pivot table

In [ ]:
# compare total number of profitable orders across regions using pivot_table
# Note that since is_profitable is 1/0, we can directly compute the sum

In [ ]:
# Compare the total profit across product categories and customer segments